[client]
remote_addr = "46.225.115.8:9306" # The address of the server. The port must be the same with the port in `server.bind_addr`
default_token = "<token>" 

[client.transport]
type = "noise"
[client.transport.noise]
remote_public_key = "<pubkey>"

[client.services.wireguard]
type = "udp"
local_addr = "127.0.0.1:51820"
