[client]
remote_addr = "46.225.115.8:9306" # The address of the server. The port must be the same with the port in `server.bind_addr`

[client.services.wireguard]
token = "<token>" 
type = "udp"
local_addr = "127.0.0.1:51820"
