HOMEPAGE_VAR_JELLYFIN_API_KEY=
HOMEPAGE_VAR_SEERR_API_KEY=
HOMEPAGE_VAR_FILEBROWSER_USERNAME=
HOMEPAGE_VAR_FILEBROWSER_PASSWORD=
HOMEPAGE_VAR_PIHOLE_PASSWORD=
HOMEPAGE_VAR_TRAEFIK_USERNAME=
HOMEPAGE_VAR_TRAEFIK_PASSWORD=
